.header-content {
  min-height: 75vh;
  background: linear-gradient(
      to bottom,
      rgba(39, 52, 146, 0.45),
      rgba(39, 52, 146, 0.5)
    ),
    url(../../images/library.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.header-title {
  font-size: 4.2rem;
}

.header-text {
  margin-top: -1.8rem;
  margin-bottom: 2.8rem;
  opacity: 0.9;
  max-width: 770px;
  padding: 8px;
}
